---

- name: Jenkins | Check jenkins status
  shell: >
    {{ bin_dir }}/kubectl get deploy -n kubesphere-devops-system ks-jenkins
  register: jenkins_status
  ignore_errors: True

# Get old config
- import_tasks: get_old_config.yaml
  when:
    - jenkins_status.rc == 0

# Uninstall update center
- name: ks-devops | Checking Jenkins update center status
  shell: >
    {{ bin_dir }}/kubectl get deploy -n kubesphere-devops-system uc-jenkins-update-center
  register: jenkins_uc_status
  failed_when: false

- import_tasks: uninstall_update_center.yaml
  when:
    - jenkins_uc_status.rc == 0

# SonarQube application
- block:
    - name: ks-devops | Getting sonarqube host
      shell: >
        {{ bin_dir }}/kubectl get cm -n kubesphere-system kubesphere-config -o jsonpath='{.data.kubesphere\.yaml}' | grep "sonarQube:" -A 2 | grep "host" | awk '{print $2}'
      register: sonarqube_host

    - name: ks-devops | Getting sonarqube token
      shell: >
        {{ bin_dir }}/kubectl get cm -n kubesphere-system kubesphere-config -o jsonpath='{.data.kubesphere\.yaml}' | grep "sonarQube:" -A 2 | grep "token" | awk '{print $2}'
      register: sonarqube_token
  when:
    - devops.sonarqube is not defined

- set_fact:
    sonarQubeHost: "{{ sonarqube_host.stdout }}"
    sonarQubeToken: "{{ sonarqube_token.stdout }}"
  when:
    - sonarqube_host is defined and sonarqube_host.stdout is defined and sonarqube_host.stdout != ""
    - sonarqube_token is defined and sonarqube_token.stdout is defined and sonarqube_token.stdout != ""

- set_fact:
    sonarQubeHost: "{{ devops.sonarqube.externalSonarUrl }}"
    sonarQubeToken: "{{ devops.sonarqube.externalSonarToken }}"
  when:
    - devops.sonarqube is defined
    - devops.sonarqube.externalSonarUrl is defined
    - devops.sonarqube.externalSonarToken is defined

# DevOps application
- name: ks-devops | Getting KubeSphere JWT secret
  register: ks_jwt_secret
  shell: >
    {{ bin_dir }}/kubectl get secret -n kubesphere-system kubesphere-secret -ojsonpath="{.data.secret}" | base64 -d

- name: ks-devops | Debug KubeSphere JWT secret
  debug:
    var: ks_jwt_secret

- name: ks-devops | Getting devops installation charts
  copy:
    src: "{{ item }}"
    dest: "{{ kubesphere_dir }}/"
  loop:
    - ks-devops

- name: ks-devops | Creating manifests
  template:
    src: "{{ item.file }}.j2"
    dest: "{{ kubesphere_dir }}/{{ item.path }}/{{ item.file }}"
  with_items:
    - { path: ks-devops, file: ks-devops-values.yaml }

- name: ks-devops | Checking if ks-devops has installed
  shell: |
    # TODO Rename helm chart name
    helm status ks-ctl -n kubesphere-devops-system
  register: ks_devops_installed
  failed_when: false

- name: ks-devops | Cleaning up resources before upgrading or installing ks-devops
  import_tasks: cleanup.yaml
  # When ks-devops is not installed, clean up some resources
  when: ks_devops_installed is not defined or ks_devops_installed.rc != 0

- name: ks-devops | Upgrading or installing ks-devops
  shell: |
    # TODO Rename helm chart name
    {{ bin_dir }}/helm upgrade --install ks-ctl {{ kubesphere_dir }}/ks-devops/charts/ks-devops-0.1.0.tgz \
    -n kubesphere-devops-system \
    -f {{ kubesphere_dir }}/ks-devops/ks-devops-values.yaml
  register: devops_upgrade_result
  until: devops_upgrade_result is succeeded
  retries: 3
  delay: 10

- name: ks-devops | Labelling devops namespaces as system workspace
  shell: |
    {{ bin_dir }}/kubectl label --overwrite namespaces {{ item }} kubesphere.io/workspace=system-workspace
  loop:
    - kubesphere-devops-worker

- name: ks-devops | Importing ks-devops status
  shell: >
    {{ bin_dir }}/kubectl patch cc ks-installer
    --type merge
    -p '{"status": {"devops": {"status": "enabled", "enabledTime": "{{ lookup('pipe','date  +%Y-%m-%dT%H:%M:%S%Z') }}"}}}'
    -n kubesphere-system
  register: cc_result
  failed_when: "cc_result.stderr and 'Warning' not in cc_result.stderr"
  until: cc_result is succeeded
  retries: 5
  delay: 3
