apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-alibabacloud-disk
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: "{% if alicloud_disk_csi_is_default_class %}true{% else %}false{% endif %}"
provisioner: diskplugin.csi.alibabacloud.com
parameters:
  zoneId: "{{ ali_disk_zoneId }}"
  regionId: "{{ ali_disk_regionId }}"
  fsType: "{{ ali_disk_fsType }}"
  type: "{{  ali_disk_type }}"
reclaimPolicy: Delete

