apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ glusterfs_provisioner_storage_class }}
  annotations:
    storageclass.kubesphere.io/supported_access_modes: '["ReadWriteOnce","ReadOnlyMany","ReadWriteMany"]'
    storageclass.beta.kubernetes.io/is-default-class: "{% if glusterfs_provisioner_is_default_class %}true{% else %}false{% endif %}"
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "{{ glusterfs_provisioner_resturl }}"
  clusterid: "{{ glusterfs_provisioner_clusterid }}"
  restauthenabled: "{% if glusterfs_provisioner_restauthenabled %}true{% else %}false{% endif %}"
  restuser: "{{ glusterfs_provisioner_restuser }}"
  secretNamespace: "kube-system"
  secretName: "{{ glusterfs_provisioner_secretName }}"
  gidMin: "{{ glusterfs_provisioner_gidMin }}"
  gidMax: "{{ glusterfs_provisioner_gidMax }}"
  volumetype: "{{ glusterfs_provisioner_volumetype }}"
allowVolumeExpansion: true
