# https://charts.kubesphere.io/qingcloud/harbor-1.0.0.tgz
expose:
  type: nodePort
  tls:
    enabled: false
  nodePort:
    ports:
      http:
        nodePort: 30280
    notary:
      nodePort: 34443

externalURL: http://{{ devops.harbor.domain }}:30280

persistence:
  persistentVolumeClaim:
    jobservice:
      subPath: "jobservice"
    database:
      subPath: "database"
    registry:
      subPath: "registry"
    chartmuseum:
      subPath: "chartmuseum"
    redis:
      subPath: "redis"

nginx:
  image:
    repository: {{ nginx_photon_repo }}
    tag: {{ nginx_photon_tag }}

portal:
  image:
    repository: {{ harbor_portal_repo }}
    tag: {{ harbor_portal_tag }}

core:
  image:
    repository: {{ harbor_core_repo }}
    tag: {{ harbor_core_tag }}

adminserver:
  image:
    repository: {{ harbor_adminserver_repo }}
    tag: {{ harbor_adminserver_tag }}

jobservice:
  image:
    repository: {{ harbor_jobservice_repo }}
    tag: {{ harbor_jobservice_tag }}

registry:
  registry:
    image:
      repository: {{ registry_photon_repo }}
      tag: {{ registry_photon_tag }}
  controller:
    image:
      repository: {{ harbor_registryctl_repo }}
      tag: {{ harbor_registryctl_tag }}

chartmuseum:
  enabled: true
  image:
    repository: {{ chartmuseum_photon_repo }}
    tag: {{ chartmuseum_photon_tag }}

clair:
  enabled: true
  image:
    repository: {{ clair_photon_repo }}
    tag: {{ clair_photon_tag }}

notary:
  enabled: false
  server:
    image:
      repository: {{ notary_server_photon_repo }}
      tag: {{ notary_server_photon_tag }}
  signer:
    image:
      repository: {{ notary_signer_photon_repo }}
      tag: {{ notary_signer_photon_tag }}

database:
  internal:
    image:
      repository: {{ harbor_db_repo }}
      tag: {{ harbor_db_tag }}

redis:
  internal:
    image:
      repository: {{ redis_photon_repo }}
      tag: {{ redis_photon_tag }}
