apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-tencentcloud-cbs
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: "{% if tencentcloud_cbs_csi_is_default_class %}true{% else %}false{% endif %}"
provisioner: com.tencent.cloud.csi.cbs
parameters:
  diskType: "{{ tencentcloud_disk_type }}"
reclaimPolicy: Delete

