apiVersion: v1
kind: Secret
metadata:
  name: csi-tencentcloud
  namespace: kube-system
data:
  # value need base64 encoding
  # echo -n "<SECRET_ID>" | base64
  TENCENTCLOUD_CBS_API_SECRET_ID: "{{ tecentcloud_cbs_api_secret_id | b64encode }}"
  TENCENTCLOUD_CBS_API_SECRET_KEY: "{{ tecentcloud_cbs_api_secret_key | b64encode}}"
