apiVersion: logging.kubesphere.io/v1alpha2
kind: Input
metadata:
  labels:
    logging.kubesphere.io/enabled: 'true'
    logging.kubesphere.io/component: "auditing"
  name: tail-auditing
  namespace: kubesphere-logging-system
spec:
  tail:
    db: /fluent-bit/tail/pos-auditing.db
    dbSync: Normal
    memBufLimit: 100MB
{% if (logging_container_runtime== 'containerd') or (logging_container_runtime== 'crio') %}
    parser: cri
{% else %}
    parser: docker
{% endif %}
    path: /var/log/containers/kube-auditing-webhook*_kubesphere-logging-system_kube-auditing-webhook*.log
    refreshIntervalSeconds: 10
    skipLongLines: true
    tag: kube_auditing

