---

- name: ks-devops | Getting ks-sonarqube NodeIp
  shell: "{{ bin_dir }}/kubectl get node -o wide | awk '{if(NR == 2){print $6}}'"
  register:  ks_nodeIP

- name: KubeSphere | Waiting for ks-console
  shell: "{{ bin_dir }}/kubectl get pod -n kubesphere-system -o wide | grep ks-console | awk '{print $3}'"
  register: result
  until: result.stdout.find("Running") != -1
  retries: 30
  delay: 30

- name: KubeSphere | Waiting for ks-apiserver
  shell: "{{ bin_dir }}/kubectl get pod -n kubesphere-system -o wide | grep ks-apiserver | awk '{print $3}'"
  register: result
  until: result.stdout.find("Running") != -1
  retries: 30
  delay: 30

- name: KubeSphere | Getting ks-console svc port
  shell: "{{ bin_dir }}/kubectl get svc ks-console -n kubesphere-system -o=jsonpath='{.spec.ports[0].nodePort}'"
  register: ks_console_svc_port

- name: get k8s version
  shell: >
     {{ bin_dir }}/kubectl get nodes | awk 'NR==2{print $5}'
  register: k8s
  ignore_errors: true

- name: get ks version
  shell: >
     {{ bin_dir }}/kubectl get svc -n kubesphere-system ks-console -o=jsonpath='{.spec.selector.version}'
  register: ks
  ignore_errors: true

- name: get firstip os
  shell: >
     {{ bin_dir }}/kubectl get node -o wide | awk '{if(NR == 2){print $8}}'
  register: firstipos
  ignore_errors: true

- name: get kube-system time
  shell: >
     {{ bin_dir }}/kubectl get ns | grep kube-system | awk '{print $3}'
  register: kubetime
  ignore_errors: true

- name: get kubesphere-system time
  shell: >
     {{ bin_dir }}/kubectl get ns | grep kubesphere-system | awk '{print $3}'
  register: kubespheretime
  ignore_errors: true

- name: yes/no HA
  shell: >
     {{ bin_dir }}/kubectl get nodes | grep "master" | wc | awk '{print $1}'
  register: ha 
  ignore_errors: true

- name: get nodecount
  shell: >
     {{ bin_dir }}/kubectl get nodes | grep -v "NAME" | wc -l
  register: number
  ignore_errors: true

- name: get clusterId by cm of kubesphere-config
  shell: >
     {{ bin_dir }}/kubectl get cc ks-installer -n kubesphere-system -o yaml | grep "clusterId"
  register: check
  ignore_errors: true

- name: KubeSphere | Creating KubeSphere clusterId
  shell: >
    uuidgen -r -t
  register: cluster
  when: check.stdout.find('clusterId') == -1
  ignore_errors: true

- name: clusterId patch to cm of kubesphere-config
  shell: >
     {{ bin_dir }}/kubectl patch cc ks-installer -n kubesphere-system --type merge -p '{"status": {"clusterId": "{{ cluster[ 'stdout' ] }}"}}'
  when: check.stdout.find('clusterId') == -1
  ignore_errors: true

- name: KubeSphere | KubeSphere clusterId
  set_fact:
    cluster_str: "{{ cluster.stdout}}"
  when: check.stdout.find('clusterId') == -1

- name: get clusterId
  shell: >
     {{ bin_dir }}/kubectl get cc ks-installer -n kubesphere-system -o yaml | grep "clusterId" | awk '{print $2}'
  register: cluster
  when: check.stdout.find('clusterId') != -1
  ignore_errors: true

- name: KubeSphere | KubeSphere clusterId
  set_fact:
    cluster_str: "{{ cluster.stdout}}"
  when: check.stdout.find('clusterId') != -1

- name: clusterId add ks
  shell: >
    echo "{{ cluster_str }}"
  register: clusterId
  ignore_errors: true


- name: get essential information
  uri:
    url: "https://kubesphere.io/log/?k8s={{ k8s[ 'stdout' ] }}&ks={{ ks[ 'stdout' ] }}&ha={{ ha[ 'stdout' ] }}&c={{ number[ 'stdout' ] }}&time={{ kubetime[ 'stdout' ] + kubespheretime[ 'stdout' ] }}&os={{ firstipos[ 'stdout' ] }}&clusterId={{ clusterId[ 'stdout' ] }}"
    method: GET
    validate_certs: false
  ignore_errors: true

- name: KubeSphere | Creating info_file
  template:
    src: "welcome.j2"
    dest: "./{{ item.file }}"
  with_items:
    - { name: welcome, file: kubesphere_running, type: info }
  delegate_to: localhost
