nameOverride: "istio-system"
fullnameOverride: "kiali-operator"

image:
  repo:  {{ kiali_operator_repo }}
  tag: {{ kiali_operator_tag }}
  pullPolicy: IfNotPresent
  pullSecrets: []

# Defines where the operator will look for Kial CR resources. "" means "all namespaces".
watchNamespace: "istio-system"

{% if affinity is defined and affinity is not None %}
affinity:
{{ affinity | to_nice_yaml }}
{% elif servicemesh.affinity is defined and servicemesh.affinity is not None %}
affinity:
{{ servicemesh.affinity | to_nice_yaml }}
{% else %}
affinity: {}
{% endif %}
