nameOverride: "istio-system"
fullnameOverride: "kiali-operator"

image:
  repo:  {{ kiali_operator_repo }}
  tag: {{ kiali_operator_tag }}
  pullPolicy: {{ ks_image_pull_policy }}
  pullSecrets: []

# Defines where the operator will look for Kial CR resources. "" means "all namespaces".
watchNamespace: "istio-system"
