apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "jenkins-update-center.fullname" . }}
  labels:
    app: {{ template "jenkins-update-center.name" . }}
    chart: {{ template "jenkins-update-center.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "jenkins-update-center.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "jenkins-update-center.name" . }}
        release: {{ .Release.Name }}
    spec:
      initContainers:
        - name: "init-{{ .Chart.Name }}"
          image: "{{ .Values.initImage.repository }}:{{ .Values.initImage.tag }}"
          imagePullPolicy: {{ .Values.initImage.pullPolicy }}
          command:
            - "sh"
            - "-c"
            - "cp -r -f /webroot/* /jenkins-plugins"
          volumeMounts:
            - name: webroot
              mountPath: "/jenkins-plugins"
      imagePullSecrets:
      - name: qingcloud 
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - name: webroot
              mountPath: /usr/share/nginx/html
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: http
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
      - name: webroot
        emptyDir: {}
