# Default values for elasticsearch.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
appVersion: "6.7.0"

## Define serviceAccount names for components. Defaults to component's fully qualified name.
##
serviceAccounts:
  client:
    create: false
    name:
  master:
    create: true
    name:
  data:
    create: true
    name:

## Specify if a Pod Security Policy for node-exporter must be created
## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/
##
podSecurityPolicy:
  enabled: false
  annotations: {}
    ## Specify pod annotations
    ## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#apparmor
    ## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#seccomp
    ## Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#sysctl
    ##
    # seccomp.security.alpha.kubernetes.io/allowedProfileNames: '*'
    # seccomp.security.alpha.kubernetes.io/defaultProfileName: 'docker/default'
    # apparmor.security.beta.kubernetes.io/defaultProfileName: 'runtime/default'

image:
  repository: {{ elasticsearch_oss_repo }}
  tag: {{ elasticsearch_oss_tag }}
  pullPolicy: "IfNotPresent"
  # If specified, use these secrets to access the image
  # pullSecrets:
  #   - registry-secret

initImage:
  repository: {{ alpine_repo }}
  tag: {{ alpine_tag }}
  pullPolicy: "IfNotPresent"

cluster:
  name: "elasticsearch"
  # If you want X-Pack installed, switch to an image that includes it, enable this option and toggle the features you want
  # enabled in the environment variables outlined in the README
  xpackEnable: false
  # Some settings must be placed in a keystore, so they need to be mounted in from a secret.
  # Use this setting to specify the name of the secret
  # keystoreSecret: eskeystore
  config: {}
  # Custom parameters, as string, to be added to ES_JAVA_OPTS environment variable
  additionalJavaOpts: ""
  # Command to run at the end of deployment
  bootstrapShellCommand: ""
  env:
    # IMPORTANT: https://www.elastic.co/guide/en/elasticsearch/reference/current/important-settings.html#minimum_master_nodes
    # To prevent data loss, it is vital to configure the discovery.zen.minimum_master_nodes setting so that each master-eligible
    # node knows the minimum number of master-eligible nodes that must be visible in order to form a cluster.
    # MINIMUM_MASTER_NODES: master.replicas/2 +1 
    # EXPECTED_MASTER_NODES: master.replicas
    # EXPECTED_DATA_NODES: data.replicas
    # RECOVER_AFTER_MASTER_NODES: master.replicas/2 +1
    # RECOVER_AFTER_DATA_NODES: data.replicas/2 +1
  # List of plugins to install via dedicated init container
  # plugins: []

master:
  name: master
  exposeHttp: false
{% if nodeNum is defined and nodeNum < 5 %}
  replicas: {{ common.es.master.replicas | default(1) }}
{% else %}
  replicas: {{ common.es.master.replicas | default(3) }}
{% endif %}
  heapSize: "512m"
  # additionalJavaOpts: "-XX:MaxRAM=512m"
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    name: data
    size: {% if es_master_pv_size is defined %}{{ es_master_pv_size }}{% else %}{{ common.es.master.volumeSize | default("4Gi") }}{% endif %}

{% if persistence.storageClass is defined and persistence.storageClass != "" %}
    storageClass: "{{ persistence.storageClass }}"
{% endif %}
  readinessProbe:
    httpGet:
      path: /_cluster/health?local=true
      port: 9200
    initialDelaySeconds: 5
  antiAffinity: "soft"
{% if common.es.nodeAffinity is defined and common.es.nodeAffinity is not none %}
  nodeAffinity:
    {{ common.es.nodeAffinity | to_nice_yaml(indent=2) | indent(4) }}
{% else %}
  nodeAffinity: {}
{% endif %}
{% if common.es.nodeSelector is defined and common.es.nodeSelector is not none %}
  nodeSelector:
    {{ common.es.nodeSelector | to_nice_yaml(indent=2) | indent(4) }}
{% elif nodeSelector is defined and nodeSelector is not none %}
  nodeSelector:
    {{ nodeSelector | to_nice_yaml(indent=2) | indent(4) }}
{% else %}
  nodeSelector: {}
{% endif %}
{% if common.es.tolerations is defined and common.es.tolerations is not none %}
  tolerations:
    {{ common.es.tolerations | to_nice_yaml(indent=2) | indent(4) }}
{% elif tolerations is defined and tolerations is not none %}
  tolerations:
    {{ tolerations | to_nice_yaml(indent=2) | indent(4) }}
{% else %}
  tolerations: []
{% endif %}
  initResources: {}
    # limits:
    #   cpu: "25m"
    #   # memory: "128Mi"
    # requests:
    #   cpu: "25m"
    #   memory: "128Mi"
  resources:
    limits:
      cpu: {{ common.es.master.resources.limits.cpu | default("2") }}
      memory: {{ common.es.master.resources.limits.memory | default("1024Mi") }}
    requests:
      cpu: {{ common.es.master.resources.requests.cpu | default("25m") }}
      memory: {{ common.es.master.resources.requests.memory | default("512Mi") }}
  priorityClassName: ""
  ## (dict) If specified, apply these annotations to each master Pod
  # podAnnotations:
  #   example: master-foo
  podDisruptionBudget:
    enabled: false
    minAvailable: 1  # Same as `cluster.env.MINIMUM_MASTER_NODES`
    # maxUnavailable: 1
  updateStrategy:
    type: OnDelete

data:
  name: data
  exposeHttp: true
  serviceType: ClusterIP
  loadBalancerIP: {}
  loadBalancerSourceRanges: {}
{% if nodeNum is defined and nodeNum == 1 %}
  replicas: {{ common.es.data.replicas | default(1) }}
{% elif nodeNum is defined and nodeNum > 1 and nodeNum < 5 %}
  replicas: {{ common.es.data.replicas | default(2) }}
{% else %}
  replicas: {{ common.es.data.replicas | default(3) }}
{% endif %}
  heapSize: "1536m"
  # additionalJavaOpts: "-XX:MaxRAM=1536m"
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    name: data
    size: {% if es_data_pv_size is defined %}{{ es_data_pv_size }}{% else %}{{ common.es.data.volumeSize | default("20Gi") }}{% endif %}

{% if persistence.storageClass is defined and persistence.storageClass != "" %}
    storageClass: "{{ persistence.storageClass }}"
{% endif %}
  readinessProbe:
    httpGet:
      path: /_cluster/health?local=true
      port: 9200
    initialDelaySeconds: 5
  terminationGracePeriodSeconds: 120
  antiAffinity: "soft"
{% if common.es.nodeAffinity is defined and common.es.nodeAffinity is not none %}
  nodeAffinity:
    {{ common.es.nodeAffinity | to_nice_yaml(indent=2) | indent(4) }}
{% else %}
  nodeAffinity: {}
{% endif %}
{% if common.es.nodeSelector is defined and common.es.nodeSelector is not none %}
  nodeSelector:
    {{ common.es.nodeSelector | to_nice_yaml(indent=2) | indent(4) }}
{% elif nodeSelector is defined and nodeSelector is not none %}
  nodeSelector:
    {{ nodeSelector | to_nice_yaml(indent=2) | indent(4) }}
{% else %}
  nodeSelector: {}
{% endif %}
{% if common.es.tolerations is defined and common.es.tolerations is not none %}
  tolerations:
    {{ common.es.tolerations | to_nice_yaml(indent=2) | indent(4) }}
{% elif tolerations is defined and tolerations is not none %}
  tolerations:
    {{ tolerations | to_nice_yaml(indent=2) | indent(4) }}
{% else %}
  tolerations: [{key: "CriticalAddonsOnly", operator: "Exists"}, {key: "dedicated", value: "log", effect: "NoSchedule"}]
{% endif %}
  initResources: {}
    # limits:
    #   cpu: "25m"
    #   # memory: "128Mi"
    # requests:
    #   cpu: "25m"
    #   memory: "128Mi"
  resources:
    limits:
      cpu: {{ common.es.master.resources.limits.cpu | default("4") }}
      memory: {{ common.es.master.resources.limits.memory | default("2048Mi") }}
    requests:
      cpu: {{ common.es.master.resources.requests.cpu | default("25m") }}
      memory: {{ common.es.master.resources.requests.memory | default("1536Mi") }}
  priorityClassName: ""
  ## (dict) If specified, apply these annotations to each data Pod
  # podAnnotations:
  #   example: data-foo
  podDisruptionBudget:
    enabled: false
    # minAvailable: 1
    maxUnavailable: 1
  updateStrategy:
    type: OnDelete
  hooks:  # post-start and pre-stop hooks
    drain:  # drain the node before stopping it and re-integrate it into the cluster after start
      enabled: true

## Sysctl init container to setup vm.max_map_count
# see https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html
# and https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration-memory.html#mlockall
sysctlInitContainer:
  enabled: true
## Additional init containers
extraInitContainers: |
