# Default values for openldap-ha.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: {{ openldap_repo }}
  tag: {{ openldap_tag }}
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 389


ldap:
  replication: {% if enableHA is defined and enableHA %}true{% else %}false{% endif %}

  organisation: kubesphere
  domain: kubesphere.io
  adminPassword: admin

persistence:
  enabled: true
{% if persistence.storageClass is defined and persistence.storageClass != "" %}
  storageClass: "{{ persistence.storageClass }}"
{% endif %}
  size: {% if openldap_db_pv_size is defined %}{{ openldap_db_pv_size }}{% else %}{{ common.openldapVolumeSize }}{% endif %}


resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
