apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
  namespace: kubesphere-logging-system
spec:
  version: {{ elasticsearch_tag }}
  image: {{ elasticsearch_repo }}:{{ elasticsearch_tag }}
  auth:
    fileRealm:
    - secretName: kubesphere-elasticsearch-realm-secret
  http:
    tls:
      selfSignedCertificate:
        disabled: true
  nodeSets:
  - name: logging
    count: 3
    config:
      node.store.allow_mmap: false
    volumeClaimTemplates:
    - metadata:
        name: elasticsearch-data
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 30Gi
{% if persistence.storageClass is defined and persistence.storageClass != "" %}
        storageClass: "{{ persistence.storageClass }}"
{% endif %}
