apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: prometheus-cleanup 
  namespace: kubesphere-monitoring-system
spec:
  schedule: "{{ prometheus_system_cleanup_schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: prometheus-cleanup
            image: kubesphere/ks-installer:v2.1.1
            command: ['sh', '-c', 'kubectl -n kubesphere-monitoring-system delete prometheus k8s-system']
          restartPolicy: OnFailure
          serviceAccountName: prometheus-operator