nodeSelector: { }
tolerations: [ ]
kubeProxy:
  version: "v0.8.0"
manager:
  resources:
    limits:
      cpu: 2
      memory: 1Gi
    requests:
      cpu: 2
      memory: 1Gi
  image:
    repository: {{ opensearch_dmp_repo }}
    ## tag default uses appVersion from Chart.yaml, to override specify tag tag: "v1.1"
    tag: ""
    pullPolicy: "Always"
  # If a watchNamespace is specified, the manager's cache will be restricted to
  # watch objects in the desired namespace. Defaults is to watch all namespaces.
  watchAnyNamespace: true
