---
redisOperator:
  name: redis-operator
  imageName: "{{ namespace_override | default('radondb') }}/redis-operator"
  imageTag: v1.2.4
  imagePullPolicy: Always
  imagePrefix: {{ base_repo }}

  # Additional pod annotations
  podAnnotations: {}
  # Additional Pod labels (e.g. for filtering Pod by custom labels)
  podLabels:
    app.kubernetes.io/name: redis-operator

localRegistry: {{ base_repo }}
namespaceOverride: {{ namespace_override | default('radondb') }}
redisImageName: redis
redisExporterImageName: redis-exporter
redisProxyImageName: predixy
redisProxyExporterImageName: predixy-exporter

resources:
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 500m
    memory: 500Mi

replicas: 1

serviceAccountName: redis-operator

priorityClassName: ""
nodeSelector: {}
tolerateAllTaints: false
tolerations: []
affinity: {}
