# Default values for ClickHouse-operator

operator:
  image: {{ chronus_operator_repo }}:{{ chronus_operator_tag }}
  imagePullPolicy: IfNotPresent

  # List of namespaces where clickhouse-operator watches for events.
  # Concurrently running operators should watch on different namespaces
  # Support to use regular expressions
  watchNamespaces:
    - (.*?)

  defaultClickHouseLogContainerImage: {{ busybox_repo }}:{{ busybox_tag }}
  defaultClickHouseLogContainerImagePullPolicy: "IfNotPresent"
  defaultMetricsExporterContainerImage: {{ chronus_metrics_operator_repo }}:{{ chronus_metrics_operator_tag }}
  defaultMetricsExporterContainerImagePullPolicy: "IfNotPresent"