operator:
  enabled: true
  image:
    repository: {{ kube_events_operator_repo }}
    tag: {{ kube_events_operator_tag }}
    pullPolicy: IfNotPresent
  configReloader:
    image: {{ configmap_reload_repo }}:{{ configmap_reload_tag }}
{% if events.operator is defined %}
{% if events.operator.affinity is defined %}
  affinity: {{ events.operator.affinity }}
{% endif %}
{% if events.operator.tolerations is defined %}
  tolerations: {{ events.operator.tolerations }}
{% endif %}
{% if events.operator.nodeSelector is defined %}
  nodeSelector: {{ events.operator.nodeSelector }}
{% endif %}
{% endif %}
  resources:
    limits:
      cpu: {{ events.operator.resources.limits.cpu | default("200m") }}
      memory: {{ events.operator.resources.limits.cpu | default("200Mi") }}
    requests:
      cpu: {{ events.operator.resources.requests.cpu | default("20m") }}
      memory: {{ events.operator.resources.requests.cpu | default("20Mi") }}
  serviceAccount:
    create: true
    name: ""
  # If true, just clean up cr but not crd
  cleanupAllCustomResources: false
  kubectlImage: {{ ks_kubectl_repo }}:{{ ks_kubectl_tag }}

exporter:
  enabled: true
  image:
    repository: {{ kube_events_exporter_repo }}
    tag: {{ kube_events_exporter_tag }}
    pullPolicy: IfNotPresent
{% if events.exporter is defined %}
{% if events.exporter.affinity is defined %}
  affinity: {{ events.exporter.affinity }}
{% endif %}
{% if events.exporter.tolerations is defined %}
  tolerations: {{ events.exporter.tolerations }}
{% endif %}
{% if events.exporter.nodeSelector is defined %}
  nodeSelector: {{ events.exporter.nodeSelector }}
{% endif %}
{% endif %}
  resources:
    limits:
      cpu: {{ events.exporter.resources.limits.cpu | default("200m") }}
      memory: {{ events.exporter.resources.limits.memory | default("500Mi") }}
    requests:
      cpu: {{ events.exporter.resources.requests.cpu | default("20m") }}
      memory: {{ events.exporter.resources.requests.memory | default("50Mi") }}
  sinks:
    stdout:
      enabled: true
    additionalWebhooks: []
    # - url:
    #   service:
    #     namespace:
    #     name:
    #     port:
    #     path:

ruler:
  enabled: {{ events.ruler.enabled | default(true) }}
  replicas: {{ events.ruler.replicas | default(2) }}
  image:
    repository: {{ kube_events_ruler_repo }}
    tag: {{ kube_events_ruler_tag }}
    pullPolicy: IfNotPresent
{% if events.ruler is defined %}
{% if events.ruler.affinity is defined %}
  affinity: {{ events.ruler.affinity }}
{% endif %}
{% if events.ruler.tolerations is defined %}
  tolerations: {{ events.ruler.tolerations }}
{% endif %}
{% if events.ruler.nodeSelector is defined %}
  nodeSelector: {{ events.ruler.nodeSelector }}
{% endif %}
{% endif %}
  resources:
    limits:
      cpu: {{ events.ruler.resources.limits.cpu | default("500m") }}
      memory: {{ events.ruler.resources.limits.memory | default("500Mi") }}
    requests:
      cpu: {{ events.ruler.resources.requests.cpu | default("50m") }}
      memory: {{ events.ruler.resources.requests.memory | default("50Mi") }}
  ruleNamespaceSelector: {}
  ruleSelector: {}
  sinks:
    alertmanager:
      namespace: kubesphere-monitoring-system
      name: alertmanager-main
    webhooks: []
    # - type:
    #   url:
    #   service:
    #     namespace:
    #     name:
    #     port:
    #     path:

rule:
  createDefaults: true
  overrideDefaults: false