apiVersion: v1
data:
  local_config.alpha.yaml: |
    server:
      gatewayServer:
        url: http://ks-apigateway.kubesphere-system.svc

      extendApiServer:
        wsUrl: ws://ks-apiserver.kubesphere-system.svc
        
      openpitrixServer:
        wsUrl: ws://openpitrix-api-gateway.openpitrix-system.svc:9100

      http:
        hostname: localhost
        port: 8000
        favicon: src/assets/favicon.ico
        static:
          production:
            /public: server/public
            /assets: src/assets
            /dist: dist
      redis:
        port: 6379
        host: redis.kubesphere-system.svc
      sessionTimeout: 7200000 
      disableMultiLogin: {{ disableMultiLogin }}
    client:
      version:
        console: {{ console_version }}
        kubesphere: {{ ks_version }}
        kubernetes: {{ kube_version }}
        openpitrix: {{ openpitrix_version }}
kind: ConfigMap
metadata:
  name: ks-console-ae-config
  namespace: kubesphere-system
