global:
  image:
    repository: "{{ argocd_repo }}"

dex:
  image:
    repository: "{{ argocd_dex_repo }}"
  readinessProbe:
    timeoutSeconds: 10
  livenessProbe:
    timeoutSeconds: 10

controller:
  readinessProbe:
    timeoutSeconds: 10
  livenessProbe:
    timeoutSeconds: 10

applicationSet:
  image:
    repository: "{{ argocd_applicationset_repo }}"

redis:
  image:
    repository: "{{ argocd_redis_repo }}"

repoServer:
  readinessProbe:
    timeoutSeconds: 10
  livenessProbe:
    timeoutSeconds: 10

server:
  readinessProbe:
    timeoutSeconds: 10
  livenessProbe:
    timeoutSeconds: 10
