- import_tasks: prometheus-stack.yaml
  when:
    - "common.monitoring.type is not defined or common.monitoring.type != 'external'"

- import_tasks: monitoring-dashboard.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

- import_tasks: gpu-monitoring.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

- name: Monitoring | Importing ks-monitoring status
  shell: >
    {{ bin_dir }}/kubectl patch cc ks-installer
    --type merge
    -p '{"status": {"monitoring": {"status": "enabled", "enabledTime": "{{ lookup('pipe','date  +%Y-%m-%dT%H:%M:%S%Z') }}"}}}'
    -n kubesphere-system
  register: import
  failed_when: "import.stderr and 'Warning' not in import.stderr"
  until: import is succeeded
  retries: 5
  delay: 3

- import_tasks: thanosruler.yaml
  when:
    - alerting is defined
    - alerting.enabled is defined
    - alerting.enabled == true
    - "status.alerting is not defined or status.alerting.status is not defined or status.alerting.status != 'enabled'"

