---
- import_tasks: cleanup.yaml

- import_tasks: generate_manifests.yaml

- import_tasks: prometheus-operator.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

- import_tasks: node-exporter.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

- import_tasks: kube-state-metrics.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

# - import_tasks: prometheus-adapter.yaml

- import_tasks: grafana.yaml
  when:
    - monitoring.grafana is defined
    - monitoring.grafana.enabled is defined
    - monitoring.grafana.enabled == true

- import_tasks: prometheus.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

- import_tasks: devops.yaml

- import_tasks: etcd.yaml

- import_tasks: prometheus-rules.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

- import_tasks: alertmanager.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"

- import_tasks: notification-manager.yaml
  when:
    - "status.monitoring is not defined or status.monitoring.status is not defined or status.monitoring.status != 'enabled'"