---
apiVersion: v1
data:
  ks-config.yaml: |
    ---

    persistence:
      storageClass: {{ storage_class }}

    etcd:
      monitoring: true
      endpointIps: {{ etcd_endpoint_ips }}
      port: 2379
      tlsEnable: true

    common:
      mysqlVolumeSize: {{ mysql_volume_size }}
      minioVolumeSize: {{ minio_volume_size }}
      etcdVolumeSize: {{ etcd_volume_size }}
      openldapVolumeSize: {{ openldap_volume_size }}
      redisVolumSize: {{ redis_volume_size }}

    metrics_server:
      enabled: {{ metrics_server_enabled | string | lower}}

    console:
      enableMultiLogin: {{ enable_multi_login | default(true) | string | lower }}  # enable/disable multi login
      port: {{ console_port }}

    monitoring:
      prometheusReplicas: {{ prometheus_replicas | default(2) }}
      prometheusMemoryRequest: {{ prometheus_memory_request }}
      prometheusVolumeSize: {{ prometheus_volume_size }}
      alertmanagerReplicas: {{ alertmanager_replicas | default(3) }}
      grafana:
        enabled: {{ grafana_enabled | string | lower }}
      notification:
        enabled: {{ notification_enabled | string | lower }}      

    logging:
      enabled: {{ logging_enabled | string | lower }}
      elasticsearchMasterReplicas: {{ elasticsearch_master_replicas }}
      elasticsearchDataReplicas: {{ elasticsearch_data_replicas }}
      logsidecarReplicas: {{ logsidecar_replicas }}
      elasticsearchMasterVolumeSize: {{ elasticsearch_master_volume_size | default("4Gi") }}
      elasticsearchDataVolumeSize: {{ elasticsearch_data_volume_size | default("20Gi") }}
      logMaxAge: {{ log_max_age }}
      elkPrefix: {{ elk_prefix }}
{% if external_es_url is defined and external_es_port is defined %}
      externalElasticsearchUrl: {{ external_es_url }}
      externalElasticsearchPort: {{ external_es_port }}
{% endif %}
      containersLogMountedPath: ""
      kibana:
        enabled: {{ kibana_enabled | string | lower }}

    events:
      enabled: {{ events_enabled | string | lower }}

    openpitrix:
      enabled: {{ openpitrix_enabled | string | lower }}

    devops:
      enabled: {{ devops_enabled | string | lower }}
      jenkinsMemoryLim: {{ jenkins_memory_lim }}
      jenkinsMemoryReq: {{ jenkins_memory_req }}
      jenkinsVolumeSize: {{ jenkins_volume_size }}
      jenkinsJavaOpts_Xms: {{ jenkinsJavaOpts_Xms }}
      jenkinsJavaOpts_Xmx: {{ jenkinsJavaOpts_Xmx }}
      jenkinsJavaOpts_MaxRAM: {{ jenkinsJavaOpts_MaxRAM }}
      sonarqube:
        enabled: {{ sonarqube_enabled | string | lower }}
        postgresqlVolumeSize: 8Gi

    servicemesh:
      enabled: {{ servicemesh_enabled | string | lower }}

    notification:
      enabled: {{ notification_enabled | string | lower }}

    alerting:
      enabled: {{ alerting_enabled | string | lower }}

kind: ConfigMap
metadata:
  name: ks-installer
  namespace: kubesphere-system
