# Default values for kubefed.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Configuration values for kubefed controllermanager deployment.
##
controllermanager:
  enabled: true
  replicaCount: 2
  repository: {{ kubefed_repo }}
  image: {{ kubefed_image }}
  tag: {{ kubefed_image_tag }}
  imagePullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 64Mi

