# Default values for kubefed.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Configuration values for kubefed controllermanager deployment.
##
controllermanager:
{% if affinity is defined and affinity is not None %}
  commonAffinity:
{{ affinity | to_nice_yaml }}
{% elif multicluster.affinity is defined and multicluster.affinity is not None %}
  commonAffinity:
{{ multicluster.affinity | to_nice_yaml }}
{% else %}
  commonAffinity: {}
{% endif %}
  controller:
    annotations: {}
{% if nodeNum is defined and nodeNum < 3 %}
    replicaCount: 1
{% else %}
    replicaCount: 2
{% endif %}
    repository: {{ kubefed_repo }}
    image: {{ kubefed_image }}
    tag: {{ kubefed_image_tag }}
  postInstallJob::
    repository: {{ post_install_job_repo }}
    image: {{ post_install_job_image }}
    tag: {{ post_install_job_tag }}
  webhook:
    repository: {{ kubefed_repo }}
    image: {{ kubefed_image }}
    tag: {{ kubefed_image_tag }}
