replicaCount: {{ master_num }}

image:
  ks_controller_manager_repo: {{ ks_controller_manager_repo }}
  ks_controller_manager_tag: {{ ks_controller_manager_tag }}
  ks_apiserver_repo: {{ ks_apiserver_repo }}
  ks_apiserver_tag: {{ ks_apiserver_tag }}
  ks_console_repo: {{ ks_console_repo }}
  ks_console_tag: {{ ks_console_tag }}
  ks_kubectl_repo: {{ ks_kubectl_repo }}
  ks_kubectl_tag: {{ ks_kubectl_tag }}
  nginx_ingress_controller_repo: {{ nginx_ingress_controller_repo }}
  nginx_ingress_controller_tag: {{ nginx_ingress_controller_tag }}
  defaultbackend_repo: {{ defaultbackend_repo }}
  defaultbackend_tag: {{ defaultbackend_tag }}
  bookinfo_productpage_v1_repo: {{ bookinfo_productpage_v1_repo }}
  bookinfo_productpage_v1_tag: {{ bookinfo_productpage_v1_tag }}
  bookinfo_reviews_v1_repo: {{ bookinfo_reviews_v1_repo }}
  bookinfo_reviews_v1_tag: {{ bookinfo_reviews_v1_tag }}
  bookinfo_details_v1_repo: {{ bookinfo_details_v1_repo }}
  bookinfo_details_v1_tag: {{ bookinfo_details_v1_tag }}
  bookinfo_ratings_v1_repo: {{ bookinfo_ratings_v1_repo }}
  bookinfo_ratings_v1_tag: {{ bookinfo_ratings_v1_tag }}
  pullPolicy: {{ ks_image_pull_policy }}

config:
  create: false

console:
  type: {{ console.type | default('NodePort') }}
  port: {{ console.port }}

kube_version: {{ kube_version }}

apiserverResources:
  limits:
    cpu: {{ common.apiserver.resources.limits.cpu | default('1') }}
    memory: {{ common.apiserver.resources.limits.memory | default('1024Mi') }}
  requests:
    cpu: {{ common.apiserver.resources.requests.cpu | default('20m') }}
    memory: {{ common.apiserver.resources.requests.memory | default('100Mi') }}

controllerManagerResources:
  limits:
    cpu: {{ common.controllerManager.resources.limits.cpu | default('1') }}
    memory: {{ common.controllerManager.resources.limits.memory | default('1000Mi') }}
  requests:
    cpu: {{ common.controllerManager.resources.requests.cpu | default('30m') }}
    memory: {{ common.controllerManager.resources.requests.memory | default('50Mi') }}
{% if (common.redis is defined and common.redis.enabled is defined and common.redis.enabled) or enableHA %}
env:
- name: KUBESPHERE_REDIS_PASSWORD
  valueFrom:
    secretKeyRef:
      name: redis-secret
      key: auth
{% endif %}