apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: ks-account
    tier: backend
    version: v2.1.0
  name: ks-account
  namespace: kubesphere-system
spec:
{% if master_num is defined and master_num != 0 %}
  replicas: {{ master_num }}
{% else %}
  replicas: 1
{% endif %}
  selector:
    matchLabels:
      app: ks-account
      tier: backend
      version: v2.1.0
  template:
    metadata:
      labels:
        app: ks-account
        tier: backend
        version: v2.1.0
    spec:
      serviceAccount: kubesphere
      serviceAccountName: kubesphere
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
        - key: CriticalAddonsOnly
          operator: Exists
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - topologyKey: kubernetes.io/hostname
            labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - ks-account
            namespaces:
            - kubesphere-system
      volumes:
      - configMap:
          defaultMode: 420
          name: policy-rules
        name: policy-rules
      - name: ca-dir
        secret:
          defaultMode: 420
          secretName: kubesphere-ca
      - configMap:
          defaultMode: 420
          name: user-init
        name: user-init
      - configMap:
          defaultMode: 420
          name: kubesphere-config
        name: kubesphere-config
      initContainers:
      - name: wait-redis
        image: {{ busybox_repo }}:{{ busybox_tag }}
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c', 'until nc -z redis.kubesphere-system.svc 6379; do echo "waiting for redis"; sleep 2; done;']
      - name: wait-ldap
        image: {{ busybox_repo }}:{{ busybox_tag }}
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c', 'until nc -z openldap.kubesphere-system.svc 389; do echo "waiting for ldap"; sleep 2; done;']
      containers:
      - command:
        - ks-iam
        - --logtostderr=true
        - --jwt-secret=$(JWT_SECRET)
        - --admin-password=$(ADMIN_PASSWORD)
        - --enable-multi-login={{ console.enableMultiLogin | default(false) }}
        - --token-idle-timeout=40m
        - --redis-url=redis://redis.kubesphere-system.svc:6379
        env:
        - name: KUBECTL_IMAGE
          value: {{ ks_kubectl_repo }}:{{ ks_kubectl_tag }}
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              key: jwt-secret
              name: ks-account-secret
        - name: ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: admin-password
              name: ks-account-secret
        volumeMounts:
        - mountPath: /etc/kubernetes/pki
          name: ca-dir
        - mountPath: /etc/ks-iam
          name: user-init
        - mountPath: /etc/kubesphere/rules
          name: policy-rules
        - mountPath: /etc/kubesphere
          name: kubesphere-config
        image: {{ ks_account_repo }}:{{ ks_account_tag }}
        imagePullPolicy: {{ ks_image_pull_policy }}
        name: ks-account        
        ports:
        - containerPort: 9090
          protocol: TCP
        resources:
          limits:
            cpu: {{ ks_account_cpu_limit }}
            memory: {{ ks_account_memory_limit }}
          requests:
            cpu: {{ ks_account_cpu_requests }}
            memory: {{ ks_account_memory_requests }}
---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: ks-account
    tier: backend
    version: v2.1.0
  name: ks-account
  namespace: kubesphere-system
spec:
  ports:
  - name: ks-account
    port: 80
    protocol: TCP
    targetPort: 9090
  selector:
    app: ks-account
    tier: backend
    version: v2.1.0
  sessionAffinity: None
  type: ClusterIP

