apiVersion: v1
data:
  local_config.yaml: |
    server:
      gatewayServer:
        url: http://ks-apigateway.kubesphere-system.svc
        wsUrl: ws://ks-apigateway.kubesphere-system.svc

      http:
        hostname: localhost
        port: 8000
        static:
          production:
            /public: server/public
            /assets: dist/assets
            /dist: dist
      redis:
        port: 6379
        host: redis.kubesphere-system.svc
      redisTimeout: 5000
      sessionTimeout: 7200000
    client:
      version:
        kubesphere: {{ ks_version }}
        kubernetes: {{ kube_version }}
        openpitrix: {{ openpitrix_version }}
kind: ConfigMap
metadata:
  name: ks-console-config
  namespace: kubesphere-system
