apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ks-console
    tier: frontend
    version: {{ ks_version }}
  name: ks-console
  namespace: kubesphere-system
spec:
  strategy:
    rollingUpdate:
      maxSurge: 0
    type: RollingUpdate
{% if master_num is defined and master_num != "0" %}
  replicas: {{ master_num }}
{% else %}
  replicas: 1
{% endif %}
  selector:
    matchLabels:
      app: ks-console
      tier: frontend
      version: {{ ks_version }}
  template:
    metadata:
      labels:
        app: ks-console
        tier: frontend
        version: {{ ks_version }}
    spec:   
      containers:
      - image: {{ ks_console_repo }}:{{ ks_console_tag }}
        imagePullPolicy: {{ ks_image_pull_policy }}
        name: ks-console
        resources:
          limits:
            cpu: {{ ks_console_cpu_limit }}
            memory: {{ ks_console_memory_limit }}
          requests:
            cpu: {{ ks_console_cpu_requests }}
            memory: {{ ks_console_memory_requests }}
        volumeMounts:
        - mountPath: /opt/kubesphere/console/server/local_config.yaml
          name: ks-console-config
          subPath: local_config.yaml
        - mountPath: /opt/kubesphere/console/server/sample
          name: sample-bookinfo
        - mountPath: /etc/localtime
          name: host-time
        livenessProbe:
          failureThreshold: 8
          httpGet:
            path: /
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 15
          timeoutSeconds: 15
      serviceAccount: kubesphere
      serviceAccountName: kubesphere
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
        - key: CriticalAddonsOnly
          operator: Exists
        - effect: NoExecute
          key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 60
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists
          tolerationSeconds: 60
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: In
                values:
                - ""
{% if master_num is defined and master_num != "1" %}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - topologyKey: kubernetes.io/hostname
            labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - ks-console
            namespaces:
            - kubesphere-system
{% endif %}
      volumes:
      - configMap:
          defaultMode: 420
          name: ks-console-config
          items:
          - key: local_config.yaml
            path: local_config.yaml
        name: ks-console-config
      - configMap:
          defaultMode: 420
          name: sample-bookinfo
        name: sample-bookinfo
      - hostPath:
          path: /etc/localtime
          type: ""
        name: host-time
        