---

- name: Kubesphere | Check kube-node-lease namespace
  shell: >
    {{ bin_dir }}/kubectl get ns | grep 'kube-node-lease' | wc -l
  register: kube_node_lease
  ignore_errors: True


- name: KubeSphere | Get system namespaces
  set_fact:
    systemNamespaces: >-
      kubesphere-system
      kubesphere-controls-system
      kubesphere-monitoring-system
      {%- if kube_node_lease is defined and kube_node_lease.stdout != "0" %}
      kube-node-lease
      {%- endif %}
      {%- if (logging.enabled is defined and logging.enabled) or (events.enabled is defined and events.enabled) or (auditing.enabled is defined and auditing.enabled) or (servicemesh.enabled is defined and servicemesh.enabled)%}
      kubesphere-logging-system
      {%- endif %}
      {%- if openpitrix.enabled is defined and openpitrix.enabled %}
      openpitrix-system
      {%- endif %}
      {%- if devops.enabled is defined and devops.enabled %}
      kubesphere-devops-system
      {%- endif %}
      {%- if harbor.enabled is defined and harbor.enabled %}
      kubesphere-devops-system
      {%- endif %}
      {%- if gitlab.enabled is defined and gitlab.enabled %}
      kubesphere-devops-system
      {%- endif %}
      {%- if servicemesh.enabled is defined and servicemesh.enabled %}
      istio-system
      {%- endif %}
      {%- if (notification.enabled is defined and notification.enabled) or (alerting.enabled is defined and alerting.enabled) %}
      kubesphere-alerting-system
      {%- endif %}
      {%- if servicemesh.enabled is defined and servicemesh.enabled %}
      istio-system
      {%- endif %}
      {%- if multicluster is defined and multicluster.clusterRole is defined and multicluster.clusterRole == 'host' %}
      kube-federation-system
      {%- endif %}


- set_fact:
    systemNamespacesList: "{{ systemNamespaces.split(' ') }}"

- debug:
    msg: "{{ systemNamespacesList }}"

- name: KubeSphere | Create kubesphere namespace
  command: >
    {{ bin_dir }}/kubectl create namespace {{ item }}
  register: ns_state
  failed_when: "ns_state.stderr and 'already exists' not in ns_state.stderr"
  loop: "{{ systemNamespacesList }}"


- name: KubeSphere | Labeling system-workspace
  shell: >
    {{ bin_dir }}/kubectl label ns {{ item }} kubesphere.io/workspace=system-workspace
  register: label_state
  failed_when: "label_state.stderr and 'already' not in label_state.stderr"
  loop: "{{ ['default', 'kube-public', 'kube-system', systemNamespacesList] | flatten(1) }}"


- name: KubeSphere | Create ImagePullSecrets
  shell: |
    cat <<EOF | kubectl apply -f -
      apiVersion: v1
      kind: Secret
      metadata:
        name: qingcloud
        namespace: "{{ item }}"
      data:
        .dockerconfigjson: eyJhdXRocyI6eyJkb2NrZXJodWIucWluZ2Nsb3VkLmNvbSI6eyJhdXRoIjoiWjNWbGMzUTZaM1ZsYzNRPSJ9fX0=
      type: kubernetes.io/dockerconfigjson
    EOF
  loop: "{{ ['default', 'kube-public', 'kube-system', systemNamespacesList] | flatten(1) }}"

- name: Kubesphere | Label namespace for network policy
  shell: >
    for ns in `kubectl get ns -o jsonpath="{.items[*].metadata.name}"`; do kubectl label  ns $ns kubesphere.io/namespace=$ns --overwrite; done
  ignore_errors: True