apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  name: notification-manager-controller-metrics
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: controller-manager
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: notification-manager-webhook
  namespace: kubesphere-monitoring-system
spec:
  ports:
    - port: 443
      targetPort: 9443
  selector:
    control-plane: controller-manager


