apiVersion: application.kubesphere.io/v1alpha1
kind: HelmRepo
metadata:
  annotations:
    app.kubesphere.io/sync-period: "3600s"
    kubesphere.io/creator: admin
  labels:
    kubesphere.io/workspace: system-workspace
  name: builtin-stable
spec:
  credential: {}
  name: built-stable
  syncPeriod: 3600
  url: https://charts.kubesphere.io/stable