# Default values for openpitrix.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

version: {{ op_version }}
busybox:
  repository: {{ busybox_repo }}
  tag: {{ busybox_tag }}

openpitrix:
  image:
    repository: {{ openpitrix_repo }}
    tag: {{ openpitrix_tag }}
    pullPolicy: {{ ks_image_pull_policy }}
  limits:
    cpu: 500m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 100Mi


openpitrix_flyway:
  image:
    repository: {{ openpitrix_flyway_repo }}
    tag: {{ openpitrix_flyway_tag }}
    pullPolicy: IfNotPresent


etcd:
  svc: "etcd.kubesphere-system.svc"
  port: 2379

mysql:
  svc: "mysql.kubesphere-system.svc"
  port: 3306

attachment:
  svc: "minio.kubesphere-system.svc"
  port: 9000
  bucket: "openpitrix-attachment"

