apiVersion: logging.kubesphere.io/v1alpha2
kind: Output
metadata:
  name: es
  namespace: kubesphere-logging-system
  labels:
    logging.kubesphere.io/enabled: "true"
    logging.kubesphere.io/component: "logging"
spec:
  matchRegex: (?:kube|service)\.(.*)
  es:
    host: "{% if common.es.externalElasticsearchUrl is defined and common.es.externalElasticsearchUrl != "" %}{{ common.es.externalElasticsearchUrl }}{% else %}elasticsearch-logging-data.kubesphere-logging-system.svc{% endif %}"
    port: {% if common.es.externalElasticsearchPort is defined and common.es.externalElasticsearchPort != "" %}{{ common.es.externalElasticsearchPort }}{% else %}9200{% endif %}

{% if common.es.basicAuth is defined and common.es.basicAuth.enabled is defined and common.es.basicAuth.enabled %}
{% if common.es.basicAuth.username is defined and common.es.basicAuth.username != "" %}
    httpUser: {{ common.es.basicAuth.username }}
{% endif %}
{% if common.es.basicAuth.password is defined and common.es.basicAuth.password != "" %}
    httpPassword: {{ common.es.basicAuth.password }}
{% endif %}
{% endif %}
    logstashPrefix: "ks-{{ common.es.elkPrefix }}-log"
    logstashFormat: true
    timeKey: "@timestamp"
