apiVersion: batch/v1
kind: Job
metadata:
  name: fluentbit-operator-migrator
  namespace: kubesphere-logging-system
spec:
  template:
    spec:
      containers:
        - name: migrator
          image: {{ fluentbit_operator_repo }}:{{ fluentbit_operator_migrator_tag }}
      restartPolicy: Never
      serviceAccountName: fluentbit-operator-migrator