apiVersion: logging.kubesphere.io/v1alpha2
kind: Input
metadata:
  name: tail
  namespace: kubesphere-logging-system
  labels:
    logging.kubesphere.io/enabled: "true"
    logging.kubesphere.io/component: "logging"
spec:
  tail:
    tag: kube.*
    path: /var/log/containers/*.log
{% if (logging.containerruntime is defined) and (logging.containerruntime == 'docker') %}
    parser: docker
{% elif (logging.containerruntime is defined) and (logging.containerruntime == 'containerd' or logging.containerruntime == 'cri-o' ) %}
    parser: cri
{% endif %}
    refreshIntervalSeconds: 10
    memBufLimit: 5MB
    skipLongLines: true
    db: /fluent-bit/tail/pos.db
    dbSync: Normal
    excludePath: /var/log/containers/*_kubesphere-logging-system_events-exporter*.log,/var/log/containers/kube-auditing-webhook*_kubesphere-logging-system_kube-auditing-webhook*.log

