# Default values for logsidecar-injector.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: {{ logging.logsidecar.replicas | default(2) }}

image:
  repository: {{ ks_log_sidecar_injector_repo }}
  tag: {{ ks_log_sidecar_injector_tag }}
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: {{ logging.logsidecar.resources.limits.cpu | default("100m") }}
    memory: {{ logging.logsidecar.resources.limits.memory | default("100Mi") }}
  requests:
    cpu: {{ logging.logsidecar.resources.requests.cpu | default("10m") }}
    memory: {{ logging.logsidecar.resources.requests.memory | default("10Mi") }}

configReloader:
  image:
    repository: {{ configmap_reload_repo }}
    tag: {{ configmap_reload_tag }}
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 10Mi

sidecar:
  container:
    image:
      repository: {{ filebeat_repo }}
      tag: {{ filebeat_tag }}
      pullPolicy: IfNotPresent
    resources: {}
  initContainer:
    image:
      repository: {{ alpine_repo }}
      tag: {{ alpine_tag }}
      pullPolicy: IfNotPresent
    resources: {}
