initImage:
  repository: {{ docker_repo }}
  tag: {{ docker_tag }}
  pullPolicy: IfNotPresent

image:
  repository: {{ fluentbit_operator_repo }}
  tag: {{ fluentbit_operator_tag }}
  pullPolicy: IfNotPresent

# Namespace to watch fot FluentBit CRD
watchNamespace: "kubesphere-logging-system"

affinity: {}
  # key: value
tolerations: []
# - key: "key"
#   operator: "Equal|Exists"
#   value: "value"
#   effect: "NoSchedule|PreferNoSchedule|NoExecute(1.6 only)"

rbac:
  enabled: true

tls:
  enabled: false
  secretName: ""
  sharedKey: ""

fluentbit:
  enabled: true
  namespace: "kubesphere-logging-system"
  image: {{ ks_fluent_bit_repo }}:{{ ks_fluent_bit_tag }}
  containersLogMountedPath: ""

configmap_reload:
  image: {{ kslogging_configmap_reload_repo }}:{{ kslogging_configmap_reload_tag }}
  