apiVersion: logging.kubesphere.io/v1alpha2
kind: Output
metadata:
  name: es-auditng
  namespace: kubesphere-logging-system
  labels:
    logging.kubesphere.io/enabled: "true"
    logging.kubesphere.io/component: "auditing"
spec:
  match: kube_auditing
  es:
    logstashFormat: true
    host: "{% if logging.externalElasticsearchUrl is defined %}{{ logging.externalElasticsearchUrl }}{% else %}elasticsearch-logging-data.kubesphere-logging-system.svc{% endif %}"
    logstashPrefix: "ks-{{ logging.elkPrefix }}-auditing"
    port: {% if logging.externalElasticsearchPort is defined %}{{ logging.externalElasticsearchPort }}{% else %}9200{% endif %}

