apiVersion: logging.kubesphere.io/v1alpha2
kind: Output
metadata:
  name: es
  namespace: kubesphere-logging-system
  labels:
    logging.kubesphere.io/enabled: "true"
    logging.kubesphere.io/component: "logging"
spec:
  match: (?:kube|service)\.(.*)
  es:
    host: "{% if common.es.externalElasticsearchUrl is defined %}{{ common.es.externalElasticsearchUrl }}{% else %}elasticsearch-logging-data.kubesphere-logging-system.svc{% endif %}"
    port: {% if common.es.externalElasticsearchPort is defined %}{{ common.es.externalElasticsearchPort }}{% else %}9200{% endif %}
{% if common.es.basicAuth.enabled is defined and common.es.basicAuth.enabled is true %}
    httpUser: {{ common.es.basicAuth.username }}
    httpPassword: {{ common.es.basicAuth.password }}
{% endif %}
    logstashPrefix: "ks-{{ common.es.elkPrefix }}-log"
    logstashFormat: true
    timeKey: "@timestamp"
