[{"type":"fluentbit_output","name":"fluentbit-output-es","parameters":[{"name":"Logstash_Format","value":"On"},{"name":"Replace_Dots","value":"on"},{"name":"Retry_Limit","value":"False"},{"name":"Type","value":"flb_type"},{"name":"Time_Key","value":"@timestamp"},{"name":"Logstash_Prefix","value":"ks-{{ logging.elkPrefix }}-log"},{"name":"Match","value":"kube.*"},{"name":"Port","value":"{% if logging.externalElasticsearchPort is defined %}{{ logging.externalElasticsearchPort }}{% else %}9200{% endif %}"},{"name":"Host","value":"{% if logging.externalElasticsearchUrl is defined %}{{ logging.externalElasticsearchUrl }}{% else %}elasticsearch-logging-data.kubesphere-logging-system.svc{% endif %}"},{"name":"Name","value":"es"}],"id":"6406d064-404c-4dbf-bd6d-228051c3dd70","enable":true,"updatetime":"<UPDATETIME>"}]
