[{"type":"fluentbit_output","name":"fluentbit-output-es","parameters":[{"name":"Logstash_Format","value":"On"},{"name":"Replace_Dots","value":"on"},{"name":"Retry_Limit","value":"False"},{"name":"Type","value":"flb_type"},{"name":"Time_Key","value":"@timestamp"},{"name":"Logstash_Prefix","value":"ks-{{ elk_prefix }}-log"},{"name":"Match","value":"kube.*"},{"name":"Port","value":"{% if external_es_port is defined %}{{ external_es_port }}{% else %}9200{% endif %}"},{"name":"Host","value":"{% if external_es_url is defined %}{{ external_es_url }}{% else %}elasticsearch-logging-data.kubesphere-logging-system.svc{% endif %}"},{"name":"Name","value":"es"}],"id":"6406d064-404c-4dbf-bd6d-228051c3dd70","enable":true,"updatetime":"<UPDATETIME>"}]
