
# notification-manager-operator
operator: 
  containers:
    proxy:
      image:
        repo: {{ notification_manager_operator_proxy_repo }}
        tag: {{ notification_manager_operator_proxy_tag }}
        pullPolicy: IfNotPresent
      resources:
        limits:
          cpu: 50m
          memory: 50Mi
        requests:
          cpu: 5m
          memory: 10Mi
    operator:
      image:
        repo: {{ notification_manager_operator_repo }}
        tag: {{ notification_manager_operator_tag }}
        pullPolicy: IfNotPresent 
      resources:
        limits:
          cpu: 50m
          memory: 50Mi
        requests:
          cpu: 5m
          memory: 20Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}


# value of notification-manager
notificationmanager:
  name: notification-manager
  image:
    repo: {{ notification_manager_repo }}
    tag: {{ notification_manager_tag }}
    pullPolicy: IfNotPresent
{% if nodeNum is defined and nodeNum < 3 %}
  replicas: 1
{% else %}
  replicas: 2
{% endif %}
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 5m
      memory: 20Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  defaultConfigSelector:
    matchLabels:
      type: default
  receivers:
    tenantKey: user
    globalReceiverSelector:
      matchLabels:
        type: global
    tenantReceiverSelector:
      matchLabels:
        type: tenant
    options:
      email:
        notificationTimeout: 5
        deliveryType: bulk
      slack:
        notificationTimeout: 5
      wechat:
        notificationTimeout: 5

