# Default values for NVIDIA DCGM exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: nvcr.io/nvidia/k8s/dcgm-exporter
  pullPolicy: IfNotPresent
  tag: 2.1.8-2.4.0-rc.3-ubuntu18.04

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

imagePullSecrets: []

tolerations: []
# - operator: Exists

nodeSelector: {}
  # node: gpu

affinity: 
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: nvidia-gpu
          operator: Exists

