apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    prometheus: k8s-system
  name: k8s-system
  namespace: kubesphere-monitoring-system
spec:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - preference:
          matchExpressions:
          - key: node-role.kubernetes.io/monitoring
            operator: In
            values:
            - monitoring
        weight: 100
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: prometheus
              operator: In
              values:
              - k8s-system
          namespaces:
          - kubesphere-monitoring-system
          topologyKey: kubernetes.io/hostname
        weight: 100
  additionalScrapeConfigs:
    key: prometheus-additional.yaml
    name: additional-scrape-configs
  imagePullSecrets:
  - name: qingcloud 
  baseImage: {{ prometheus_repo }}
  nodeSelector:
    beta.kubernetes.io/os: linux
  query:
    maxConcurrency: 1000
  replicas: {{ prometheus_replica }}
  resources:
    limits:
      cpu: "2.5"
      memory: 2Gi
    requests:
      cpu: 60m
      memory: {{ prometheus_memory_size }}
  retention: 7d
  ruleSelector:
    matchLabels:
      prometheus: k8s
      role: alert-rules
  scrapeInterval: 1m
  secrets:
  - kube-etcd-client-certs
  securityContext:
    fsGroup: 0
    runAsNonRoot: false
    runAsUser: 0
  serviceAccountName: prometheus-k8s
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector:
    matchExpressions:
    - key: k8s-app
      operator: In
      values:
      - etcd
      - coredns
      - apiserver
      - prometheus
      - kube-scheduler
      - kube-controller-manager
  storage:
{% if persistence.enable is defined and persistence.enable == true %} 
    volumeClaimTemplate:
      spec:
{% if persistence.storageClass is defined and persistence.storageClass != None %} 
        storageClassName: {{ persistence.storageClass }}
{% endif %}
        resources:
          requests:
            storage: {{ prometheus_volume_size }}
{% else %}
    emptyDir: {}
{% endif %}
  tolerations:
  - effect: NoSchedule
    key: dedicated
    operator: Equal
    value: monitoring
  version: {{ prometheus_tag }}
