apiVersion: v1
kind: ResourceQuota
metadata:
  name: kubesphere-devops-worker
  namespace: kubesphere-devops-worker
spec:
  hard:
    limits.cpu: "{{ devops.worker.quota.limit.cpu }}"
    limits.memory: "{{ devops.worker.quota.limit.memory }}"
