# In the future, we could use https://kubernetes.io/docs/concepts/policy/resource-quotas/#resource-quota-per-priorityclass instead
# Because this feature is only supported after Kubernetes v1.17 [stable]
apiVersion: v1
kind: ResourceQuota
metadata:
  name: kubesphere-devops-worker
  namespace: kubesphere-devops-worker
spec:
  hard:
    limits.cpu: "{{ devops_worker.quota.limit.cpu }}"
    limits.memory: "{{ devops_worker.quota.limit.memory }}"
